
<style>
	.footer{
		position: fixed;
	}
</style>
<div class="container" id="container">

  <div class="form-container sign-in-container">
    <form id="signInForm" class="formCenter" method="POST"
      action="/admin/login">
      <h1>Sign in</h1>

      <input type="email" placeholder="Email" name="email" id="emailSignIn"
        required/>
      <span class="error" id="emailErrorSignIn"></span>

      <input type="password" placeholder="Password" name="password"
        id="passwordSignIn"
        required />
      <span class="error" id="passErrorSignIn"></span>

      <button type="submit">Sign In</button>
    </form>
  </div>
  <% if(locals.message){ %>
    <div class="alert alert-success" role="alert">
      <strong>Well done!</strong> <%=message.error%>
      </div>
      <% } %>
        <div class="overlay-container">
          <div class="overlay">

            <div class="overlay-panel overlay-right">
              <h1>Welcome Back!</h1>
              <p>it's nice to see you again! <br/>sign in to access your
                  account</p>
              </div>
            </div>
          </div>
        </div>

        <script>
 

</script>