<style>
    .footer{
        position: fixed;
    }
</style>
<div class="containerError">
    <div><img src="/../img/404.gif" alt=""></div>
    <div class="error404">

        <h1>401</h1>
        <h2>Unauthorized!</h2>
        <h5>Oops! something went wrong. Invalid credentials <br/> Click
                below to sign in.</h5>
            <button onclick="location.href='/'">Sign In</button>
        </div>
    </div>