<style>
    .footer{
        position: fixed;
    }
</style>
<div class="containerError">
    <div><img src="/../img/404.gif" alt=""></div>
    <div class="error404">

        <h1>404</h1>
        <h2>Page Not Found!</h2>
        <h5>Oops! The page you are
            looking
            for does not
            exist. How you got here is
            a mystery. <br/>But you can click the button below to back to
                the
                homepage.</h5>
            <button onclick="location.href='/member/index'">Home</button>
        </div>
    </div>