<head>

    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css">
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous">
    </script>
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous">
    </script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <style>
        .circle-icon {
            background: #FE7F2D;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-align: center;
            line-height: 100px;
            vertical-align: middle;
            padding: 10px;
        }

        li {
            list-style: none;
        }
    </style>
</head>
<div id="home" class="overlay-home">
    <div class="overlayhome">
        <div class="text">
            <h1>Take care of your body.</h1>
            <span class="typed"></span>
        </div>
    </div>
</div>
<section id="services">
    <h1 align=center class="fw-light categories" textalign="center"
        style="color: #233d4d; font-size: 50px; padding-top: 15px;">Services</h1>
    <div class="container" style="background-color: transparent;box-shadow:
        none;">
        <div class="row services">
            <div class="col-md-4">

                <div class="service">
                    <div class="icon-holder">
                        <img src="/../img/calendar.png" alt="" class="icon"
                            width="70" height="70">
                    </div>
                    <h4 class="heading">Availability</h4>
                    <p class="description">A elementum ligula lacus ac quam
                        ultrices a scelerisque praesent vel suspendisse
                        scelerisque a aenean hac montes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="/../img/dumbbells.png" alt="" class="icon"
                            width="70" height="70">
                    </div>
                    <h4 class="heading">Crossfit</h4>
                    <p class="description">A elementum ligula lacus ac quam
                        ultrices a scelerisque praesent vel suspendisse
                        scelerisque a aenean hac montes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <div class="icon-holder">
                        <img src="/../img/runner.png" alt="" class="icon"
                            width="70" height="70">
                    </div>
                    <h4 class="heading">Workout</h4>
                    <p class="description">A elementum ligula lacus ac quam
                        ultrices a scelerisque praesent vel suspendisse
                        scelerisque a aenean hac montes.</p>
                </div>
            </div>
            <div class="col-md-4">

                <div class="service">
                    <div class="icon-holder">
                        <img src="/../img/heart.png" alt="" class="icon"
                            width="70" height="70">
                    </div>
                    <h4 class="heading">Cardio</h4>
                    <p class="description">A elementum ligula lacus ac quam
                        ultrices a scelerisque praesent vel suspendisse
                        scelerisque a aenean hac montes.</p>
                </div>
            </div>
            <div class="col-md-4">

                <div class="service">
                    <div class="icon-holder">
                        <img src="/../img/clock.png" alt="" class="icon"
                            width="70" height="70">
                    </div>
                    <h4 class="heading">Functional</h4>
                    <p class="description">A elementum ligula lacus ac quam
                        ultrices a scelerisque praesent vel suspendisse
                        scelerisque a aenean hac montes.</p>
                </div>
            </div>

            <div class="col-md-4">

                <div class="service">
                    <div class="icon-holder">
                        <img src="/../img/weight-loss.png" alt="" class="icon"
                            width="70" height="70">
                    </div>
                    <h4 class="heading">Weight Loss</h4>
                    <p class="description">A elementum ligula lacus ac quam
                        ultrices a scelerisque praesent vel suspendisse
                        scelerisque a aenean hac montes.</p>
                </div>
            </div>

        </div>
    </div>
    <% if(currentMember){ %>
        <% var flag= false %>
            <% var membershipFlag= false %>
                <% if (currentMember.membership){ membershipFlag= true %>

                    <% results.forEach(results=> { %>
                        <% if(currentMember.membership.equals(results._id)){ %>
                            <% flag= true } %>
                                <%})%>
                                    <%}}%>
                                    </section>
                                    <section id="pricing">
                                        <h1 align=center class="fw-light
                                            categories" textalign="center"
                                            style="color: #233d4d; font-size:
                                            50px; padding-top: 15px;">Pricing</h1>
                                        <div class="container"
                                            style="box-shadow: none;
                                            background-color:
                                            transparent; margin-top: 0;">
                                            <div class="row flex-items-xs-middle
                                                flex-items-xs-center">

                                                <!-- Table #1  -->
                                                <!-- <div class="col-xs-12 col-lg-4">
                <div class="card text-xs-center" style="height: 500px;">
                    <div class="card-header">
                        <h3 class="display-2"><span class="currency">SR</span>50<span class="period">/month</span></h3>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            Basic Membership
                        </h4>
                        <ul class="list-group">
                            <li>3hrs Gym Acess</li>
                            <li>3 Days a week</li>
                            <li>3 Classes</li>
                        </ul>
                        <a href="#" class="btn btn-gradient mt-2">Purchase
                        </a>
                    </div>
                </div>
            </div> -->
                                                <!-- Table #1  -->
                                                <!-- <div class="col-xs-11 col-lg-4">
                <div class="card text-xs-center" style="height: 500px;">
                    <div class="card-header">
                        <h3 class="display-2"><span class="currency">SR</span>100<span class="period">/month</span></h3>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            Premium Membership
                        </h4>
                        <ul class="list-group">
                            <li>5hrs Gym Acess</li>
                            <li>5 Days a week</li>
                            <li>Personal Coach</li>
                            <li>5 Classes</li>
                        </ul>
                        <a href="#" class="btn btn-gradient mt-2">Purchase
                        </a>
                    </div>
                </div>
            </div> -->
                                                <!-- Table #1  -->
                                                <!-- <div class="col-xs-12 col-lg-4">
                <div class="card text-xs-center">
                    <div class="card-header">
                        <h3 class="display-2"><span class="currency">SR</span>200<span class="period">/month</span></h3>
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">
                            SEI15 Special Membership
                        </h4>
                        <ul class="list-group">
                            <li>Permanent Gym Acess</li>
                            <li>7 Days a week</li>
                            <li>Personal Coach</li>
                            <li>Diet Plans</li>
                            <li>All Classes</li>
                        </ul>
                        <a href="#" class="btn btn-gradient mt-2">Purchase
                        </a>
                    </div>
                </div>
            </div> -->
                                                <%results.forEach(results=> { %>
                                                    <div class="col-xs-12
                                                        col-lg-4">
                                                        <div class="card
                                                            text-xs-center">
                                                            <div
                                                                class="card-header">
                                                                <h3
                                                                    class="display-2"><span
                                                                        class="currency">SR</span><%=results.price%><span
                                                                            class="period">/month</span></h3>
                                                                </div>
                                                                <div
                                                                    class="card-block">
                                                                    <h4
                                                                        class="card-title">
                                                                        <%=results.name%>
                                                                        </h4>
                                                                        <ul
                                                                            class="list-group">
                                                                            <%if
                                                                                (results.type
                                                                                ==="Basic"
                                                                                ||
                                                                                results.type
                                                                                ==="basic"
                                                                                ){%>
                                                                                <li>3hrs
                                                                                    Gym
                                                                                    Acess</li>
                                                                                <li>3
                                                                                    Days
                                                                                    a
                                                                                    week</li>
                                                                                <li>3
                                                                                    Classes</li>
                                                                                <%
                                                                                    }
                                                                                    else
                                                                                    if
                                                                                    (
                                                                                    results.type
                                                                                    ==="Premium"
                                                                                    ||
                                                                                    results.type
                                                                                    ==="premium"
                                                                                    ){%>
                                                                                    <li>5hrs
                                                                                        Gym
                                                                                        Acess</li>
                                                                                    <li>5
                                                                                        Days
                                                                                        a
                                                                                        week</li>
                                                                                    <li>Personal
                                                                                        Coach</li>
                                                                                    <li>5
                                                                                        Classes</li>
                                                                                    <%
                                                                                        }
                                                                                        else
                                                                                        if
                                                                                        (
                                                                                        results.type
                                                                                        ==="SEI"
                                                                                        ||
                                                                                        results.type
                                                                                        ==="sei"
                                                                                        ){%>
                                                                                        <li>Permanent
                                                                                            Gym
                                                                                            Acess</li>
                                                                                        <li>7
                                                                                            Days
                                                                                            a
                                                                                            week</li>
                                                                                        <li>Personal
                                                                                            Coach</li>
                                                                                        <li>Diet
                                                                                            Plans</li>
                                                                                        <li>All
                                                                                            Classes</li>
                                                                                        <%
                                                                                            }
                                                                                            %>
                                                                                            <br>
                                                                                            <%
                                                                                                if
                                                                                                (membershipFlag){
                                                                                                %>
                                                                                                <%
                                                                                                    if(
                                                                                                    currentMember.membership.equals(results._id)){
                                                                                                    %>
                                                                                                    <button
                                                                                                        type="submit"
                                                                                                        class="btn
                                                                                                        btn-dark
                                                                                                        disabled">
                                                                                                        Join
                                                                                                        Now!</button>
                                                                                                    <br>
                                                                                                    <p
                                                                                                        class="card-text"
                                                                                                        style="color:
                                                                                                        tomato;">
                                                                                                        currently
                                                                                                        registered
                                                                                                    </p>
                                                                                                    <%
                                                                                                        }
                                                                                                        else
                                                                                                        if
                                                                                                        (flag){
                                                                                                        %>
                                                                                                        <button
                                                                                                            type="submit"
                                                                                                            class="btn
                                                                                                            btn-dark
                                                                                                            disabled">
                                                                                                            Join
                                                                                                            Now!</button>
                                                                                                        <br>
                                                                                                        <p
                                                                                                            class="card-text"
                                                                                                            style="color:
                                                                                                            tomato;">
                                                                                                            registered
                                                                                                            in
                                                                                                            another
                                                                                                            plan
                                                                                                        </p>
                                                                                                        <%
                                                                                                            }
                                                                                                            else
                                                                                                            {%>
                                                                                                            <form
                                                                                                                method="POST"
                                                                                                                action="/member/registerMembership/<%=results._id
                                                                                                                %>">
                                                                                                                <button
                                                                                                                    type="submit"
                                                                                                                    class="btn
                                                                                                                    btn-gradient
                                                                                                                    mt-2">
                                                                                                                    Purchase</button>
                                                                                                            </form>
                                                                                                            <%
                                                                                                                }
                                                                                                                %>
                                                                                                                <%
                                                                                                                    }
                                                                                                                    else
                                                                                                                    if(currentMember){%>
                                                                                                                    <form
                                                                                                                        method="POST"
                                                                                                                        action="/member/registerMembership/<%=results._id
                                                                                                                        %>">
                                                                                                                        <button
                                                                                                                            type="submit"
                                                                                                                            class="btn
                                                                                                                            btn-gradient
                                                                                                                            mt-2">
                                                                                                                            Purchase</button>
                                                                                                                    </form>
                                                                                                                    <%}
                                                                                                                        else
                                                                                                                        {
                                                                                                                        %>
                                                                                                                        <button
                                                                                                                            type="submit"
                                                                                                                            class="btn
                                                                                                                            btn-dark
                                                                                                                            disabled">
                                                                                                                            Join
                                                                                                                            Now!</button>
                                                                                                                        <br>
                                                                                                                        <p
                                                                                                                            class="card-text"
                                                                                                                            style="color:
                                                                                                                            tomato;">
                                                                                                                            Need
                                                                                                                            to
                                                                                                                            login
                                                                                                                            first!
                                                                                                                        </p>
                                                                                                                        <%
                                                                                                                            }
                                                                                                                            %>
                                                                                                                        </div>
                                                                                                                    </div>
                                                                                                                </div>
                                                                                                                <%
                                                                                                                    })%>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </section>