<style>
    form {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 20px auto;

    }

    form label {
        font-size: 22px;
        margin-top: 10px;

    }

    form input {
        height: 30px;
        margin-bottom: 6px;
        border-style: none;
        border-bottom: 1px solid #E76F51;
    }

    form input:focus {
        outline: none;
    }

    form select {
        height: 40px;
        margin: 20px 0;
    }

    form select option {
        height: 30px;
    }
</style>



<h1 style="text-align: center;">add the course </h1>


<form action="" method="POST">
    <label for="dumm">dumm: </label>
    <input type="text" name="dumm">

    <label for="type">name: </label>
    <input type="text" name="type">

    <label for="img">img url: </label>
    <input type="text" name="img">

    <label for="description">description: </label>
    <input type="text" name="description">

    <label for="startdate">start date :</label>
    <input type="datetime-local" name="startDate">
    <label for="endDate">end date; </label>
    <input type="datetime-local" name="endDate">
    

   


    <input type="submit" name="" id="">
</form>