<style>
    .footer{
        position: fixed;
    }
</style>
<div class="form-container sign-in-container" style="height:
    100px;top:40%;left:25%">
    <form class="formCenter" method="POST" action="/member/forgot-password">
        <img src="/../../img/forgot.png" width="150" height="150">
        <h1 style="padding-bottom: 30px;">Forgot Password</h1>
        <%if (msg) { %>
            <%=msg%>
                <% } %>
                    <input type="email" placeholder="Email" name="email"
                        style="width:50%;" required/>
                    <button type="submit">submit</button>
                </form>
            </div>