
<style>
    .footer{
        position: fixed;
    }
</style>
<div class="form-container sign-in-container" style="height:
    100px;top:45%;left:25%">
    <form class="formCenter" method="POST" action="/member/reset-password/<%=id%>/<%=
            token%>">
            <img src="/../../img/security.png" width="150" height="150">
            <h1 style="padding-bottom: 30px;">Reset Password</h1>
            <%if (msg) { %>
                <span class="error"> <%=msg%></span>
                    <% } %>
                        <input type="text"
                            value="<%=email%>" disabled
                        style="width:50%;" />
                        <input type="password"
                            placeholder="New Password"
                            name="password" id="password" onKeyup="checkPass()"
                            minlength="8"
                            required
                            style="width:50%;" />
                        <input type="password" placeholder="Confirm New
                            Password"
                            name="confPassword" id="confPassword"
                            onKeyup="checkPass()" required
                            style="width:50%;" />

                        <span class="error" id="confPassword_msg"></span>
                        <button type="submit">Submit</button>
                    </form>
                </div>